


        div#zp-Zotpress {
            margin-bottom: 40px;
        }
        
        div#zp-Zotpress div#zp-List {
            margin-bottom: 20px;
        }
        div#zp-Zotpress div#zp-List.zp-Loading {
            background: transparent url('loading_list.gif') no-repeat top left;
            display: block;
        }
        
        div#zp-Zotpress div.zp-Col-1 {
            float: left;
            width: 350px;
        }
        div#zp-Zotpress div.zp-Col-2 {
            float: left;
        }
        
        #adminmenu .current .wp-menu-image img {
            opacity: 1.0;
        }
        
        
        /* START TABS */
        
        div#zp-Zotpress #icon-themes {
            background-position: -315px -5px;
        }
        div#zp-Zotpress .nav-tab-wrapper {
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 20px;
            padding-bottom: 0;
        }
        
        /* END TABS */
        
        
        div#zp-Zotpress h3 {
            clear: both;
            font: italic 21px/24px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
            margin-bottom: 5px;
        }
        
        div#zp-Zotpress h4 {
            font: italic 16px/20px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
            margin-bottom: 5px;
        }
        
        div#zp-Zotpress hr {
            border: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #fff;
            clear: both;
            margin: 2em 0 1em;
            height: 1px;
        }
        div#zp-Zotpress hr.clear {
            border: none;
            margin-bottom: 0;
        }
        
        div#zp-Zotpress ul {
            margin: 20px 0;
        }
        
        div#zp-Zotpress form hr.clear {
            margin: 0;
            padding: 0;
            height: 1px;
        }
        
        
        /* START CITATIONS */
        
        div#zp-Zotpress div.zp-Entry {
            min-height: 175px;
        }
        
        div#zp-Zotpress div.zp-Entry-Image {
            position: relative;
            float: left;
            overflow: hidden;
            text-align: center;
            width: 150px;
            height: 150px;
        }
        
        div#zp-Zotpress div.zp-Entry-Image a,
        div#zp-Zotpress div.zp-Entry-Image a:link,
        div#zp-Zotpress div.zp-Entry-Image a:visited,
        div#zp-Zotpress div.zp-Entry-Image a:active,
        div#zp-Zotpress div.zp-Entry-Image a:hover
        {
            z-index: 3;
            top: 0;
            left: 0;
            background: none;
            border: none;
            position: absolute;
            display: block;
            text-decoration: none;
            width: 150px;
            height: 150px;
        }
        
      div#zp-Zotpress div.zp-Entry-Image span {
            color: #fff;
            display: block;
            font-weight: bold;
            margin-top: 60px;
            visibility: hidden;
        }
        div#zp-Zotpress div.zp-Entry-Image.hover span {
            visibility: visible;
        }
        
        div#zp-Zotpress div.zp-Entry-Image img {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
        }
        div#zp-Zotpress div.zp-Entry-Image.hover img {
            opacity: 0.25;
        }
        
        div#zp-Zotpress div.zp-Entry-Image div.bg {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #F6F6F6;
            border: 2px dashed #eee;
            width: 146px;
            height: 146px;
        }
        div#zp-Zotpress div.zp-Entry-Image.hover div.bg {
            background-color: #c7e078;
            border: 2px solid #a8cf30;
        }
        
        div#zp-Zotpress div.zp-Entry span.zp-Entry-ID {
            border-top: 1px dashed #EEEEEE;
            color: #999;
            font-size: 10px;
            display: block;
            margin: -5px 0 0 195px;
        }
        div#zp-Zotpress div.zp-Entry span.zp-Entry-ID span {
            color: #ccc;
            font-family: 'Georgia', serif;
            /*font-style: italic;*/
            /*font-weight: bold;*/
            text-transform: uppercase;
        }
        
        /* END CITATIONS */
        
        
        
        /* START IMAGE FORM */
        
        div#zp-Zotpress form#zp-Image {
            -moz-border-radius: 10px;
            background-color: #f3f3f3;
            margin: 0.75em 0 30px 0;
            width: 750px;
        }
        
        div#zp-Zotpress form#zp-Image fieldset {
            padding: 10px 20px;
        }
        
        div#zp-Zotpress form#zp-Image div.section {
            margin: 10px 0;
        }
        
        div#zp-Zotpress div.csl-bib-body {
            margin: 0 0 15px 170px;
        }
        
        div#zp-Zotpress form#zp-Image div.zp-Image-Current {
            float: right;
            overflow: hidden;
            margin: 20px;
            max-width: 310px;
            max-height: 310px;
        }
        
        div#zp-Zotpress div.zp-Citation {
            width: 750px;
        }
        
        div#zp-Zotpress div.zp-Citation div.csl-bib-body {
            margin: 0;
        }
        
        div#zp-Zotpress form#zp-Image span.help {
            color: #999;
            font: italic 11px/14px 'Georgia', serif;
        }
        
        div#zp-Zotpress form#zp-Image div.zp-Loading {
            display: none;
        }
        
        div#zp-Zotpress form#zp-Image div.zp-Errors p,
        div#zp-Zotpress form#zp-Image div.zp-Success p {
            padding: 7px 0 0 0;
        }
        
        /* END IMAGE FORM */
        
        
        
        /* START FILTER */
        
        div#zp-Zotpress div#zp-Filter {
            background: -moz-linear-gradient(center bottom , #DDDDDD, #f1f1f1) repeat scroll 0 0 transparent;
            border-radius: 5px;
            -moz-border-radius: 5px;
            margin: 0 0 20px 0;
            width: 100%;
            min-width: 750px;
            min-height: 45px;
        }
        div#zp-Zotpress div#zp-FilterInner {
            padding: 10px 15px;
        }
        div#zp-Zotpress div#zp-Filter div.section {
            position: relative;
            border-right: 1px solid #ccc;
            border-left: 1px solid #fafafa;
            float: left;
            padding: 0 10px;
        }
        div#zp-Zotpress div#zp-Filter div.section.first {
            border-left: none;
        }
        div#zp-Zotpress div#zp-Filter div.section.last {
            border-right: none;
        }
        div#zp-Zotpress div#zp-Filter label {
            /*font-size: 10px;*/
            /*font-weight: bold;*/
            font-size: 11px;
            vertical-align: baseline;
            text-shadow: 0 1px 0 #fafafa;
        }
        div#zp-Zotpress div#zp-Filter select {
            width: 200px;
        }
        div#zp-Zotpress span#zp-FilterByAccount-Loading,
        div#zp-Zotpress span#zp-FilterByCollection-Loading {
            position: absolute;
            top: 4px;
            left: 210px;
            background: transparent url(loading_select.gif) no-repeat top left;
            display: block;
            overflow: hidden;
            text-indent: -5000px;
            width: 16px;
            height: 16px;
        }
        div#zp-Zotpress span#zp-FilterByAccount-Loading {
            left: 160px;
        }
        div#zp-Zotpress div#zp-Filter select#zp-FilterByAccount {
            width: 130px;
        }
        div#zp-Zotpress input#zp-FilterByLimit {
            width: 40px;
        }
        
        /* END FILTER */
        
        
        /* START ACCOUNTS */
        
        div#zp-Zotpress div#zp-Accounts {
            border: 1px solid #ccc;
            border-radius: 5px;
            -moz-border-radius: 5px;
            margin: 1em 0;
            padding: 3px;
            width: 745px;
        }

        div#zp-Zotpress div#zp-AccountsHeader {
            background: -moz-linear-gradient(center bottom , #DDDDDD, #f1f1f1) repeat scroll 0 0 transparent;
            border-radius: 3px;
            -moz-border-radius: 3px;
            margin: 0 0 3px 0;
            padding: 5px 0;
            min-height: 18px;
        }

        div#zp-Zotpress div#zp-AccountsHeader span {
            border-left: 1px solid #ccc;
            border-right: 1px solid #fafafa;
            display: block;
            float: left;
            padding: 0 10px;
            text-shadow: 0 1px 0 #fafafa;
            width: 100px;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.first {
            border-left: none;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.last {
            border-right: none;
        }
        
        div#zp-Zotpress div#zp-AccountsList {
            float: none;
            margin: 3px 0 0 0;
            min-height: 28px;
        }
        
        div#zp-Zotpress div#zp-AccountsList div.zp-Account {
            background-color: #fff;
            border-radius: 3px;
            -moz-border-radius: 3px;
            margin: 3px 0 0 0;
            padding: 5px 0;
            min-height: 18px;
        }
        
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span {
            border-left: 1px solid #eee;
            border-right: 1px solid #fff;
            display: block;
            float: left;
            padding: 0 10px;
            width: 100px;
        }
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.first {
            border-left: none;
        }
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.last {
            border-right: none;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.account_type,
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.account_type {
            width: 50px;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.api_user_id,
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.api_user_id {
            width: 60px;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.public_key,
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.public_key {
            width: 260px;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.nickname,
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.nickname {
            width: 210px;
        }
        div#zp-Zotpress div#zp-AccountsHeader span.delete,
        div#zp-Zotpress div#zp-AccountsList div.zp-Account span.delete {
            width: 30px;
        }
        
        /* END ACCOUNTS */
        
        
        div#zp-Zotpress .zp-Loading {
            background: transparent url(loading_list.gif) no-repeat top left;
            float: left;
            letter-spacing: -1000px;
            overflow: hidden;
            text-indent: -5000px;
            margin: -3px 0 0 0;
            width: 32px;
            height: 32px;
        }
        
        
        /* START OF FORM CSS */
        
        div#zp-Zotpress form#zp-Add {
            -moz-border-radius: 10px;
            background-color: #f3f3f3;
            float: left;
            margin: 0.75em 0 30px 0;
            width: 750px;
        }
        div#zp-Zotpress form#zp-Add fieldset {
            background: transparent;
            border: none;
            margin: 0;
            padding: 15px;
            padding-right: 0;
        }
        
        div#zp-Zotpress form#zp-Add div {
            float: left;
            margin-right: 20px;
        }
        div#zp-Zotpress form#zp-Add div.last {
            margin: 0;
        }
        
        div#zp-Zotpress form#zp-Add label,
        div#zp-Zotpress form#zp-Add select,
        div#zp-Zotpress form#zp-Add textarea,
        div#zp-Zotpress form#zp-Add input {
            display: block;
        }
        
        div#zp-Zotpress form#zp-Add select[name="account_type"] {
            width: 70px;
        }
        div#zp-Zotpress form#zp-Add input[name="api_user_id"] {
            width: 100px;
        }
        div#zp-Zotpress form#zp-Add input[name="public_key"] {
            width: 200px;
        }
        
        div#zp-Zotpress form#zp-Add label {
            float: left;
            padding: 0 30px 3px 0;
        }
        div#zp-Zotpress form#zp-Add label[for="account_type"] {
            padding-right: 0;
        }
        div#zp-Zotpress form#zp-Add label.required {
            background: url(req.gif) no-repeat center left;
            padding-left: 17px;
        }
        
        div#zp-Zotpress form#zp-Add label span {
            color: #666;
            font-size: 11px;
            font-style: italic;
        }
        div#zp-Zotpress form#zp-Add label span.zp-Help {
            background: transparent url('help.png') no-repeat top left;
            cursor: help;
            display: block;
            float: right;
            letter-spacing: -1000px;
            margin: 3px -17px 0 0;
            overflow: hidden;
            text-indent: -5000px;
            width: 13px;
            height: 13px;
        }
        div#zp-Zotpress form#zp-Add label span#zp-ID-Label {
            color: #333;
            font-size: 13px;
            font-style: normal;
        }

        div#zp-Zotpress form#zp-Add label[for="account_type"] {
            float: none;
        }
        
        div#zp-Zotpress form#zp-Add input#upload_image,
        div#zp-Zotpress form#zp-Add input#upload_image_button {
            display: inline;
        }
        div#zp-Zotpress form#zp-Add input,
        div#zp-Zotpress form#zp-Add textarea {
            clear: both;
            margin-bottom: 10px;
        }


        div#zp-Zotpress form#zp-Add input#zp-Connect {
            margin-top: 20px;
        }
        
        div#zp-Zotpress form#zp-Add input#zp-Submit {
            display: block;
            clear: none;
            float: left;
        }
        div#zp-Zotpress form#zp-Add .help {
            color: #999;
            display: block;
            font: italic 10px/10px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
            margin: -7px 0 10px 3px;
        }
        div#zp-Zotpress form#zp-Add .zp-Loading {
            clear: none;
            display: none;
            margin: 15px 0 0 0;
        }
        
        div#zp-Zotpress div.zp-Errors,
        div#zp-Zotpress div.zp-Success {
            display: none;
            clear: none;
            margin-top: 5px;
            padding-left: 42px;
        }
        
        div#zp-Zotpress form#zp-Add div.zp-Errors,
        div#zp-Zotpress form#zp-Add div.zp-Success {
            min-width: 600px;
        }
        
        div#zp-Zotpress div.zp-Errors p,
        div#zp-Zotpress div.zp-Success p {
            margin: 7px 0 5px 0;
        }
        
        div#zp-Zotpress div.zp-Errors {
            background: url(error_bg.gif) no-repeat top left;
        }
        
        div#zp-Zotpress div.zp-Success {
            background: url(success_bg.gif) no-repeat top left;
        }
